global
    maxconn 2048
    nbthread 1
    tune.bufsize 4096

defaults
    mode tcp

    timeout connect 50ms
    timeout client 2s
    timeout server 2s

frontend fraud_front
    bind *:9999
    default_backend fraud_back

backend fraud_back
    balance roundrobin

    server api1 api1:9999 maxconn 1024
    server api2 api2:9999 maxconn 1024
