global
    maxconn 16384
    nbthread 1
    tune.bufsize 16384
    quiet

defaults
    mode tcp

    timeout connect 50ms
    timeout client 5s
    timeout server 5s

frontend fraud_front
    bind *:9999
    default_backend fraud_back

backend fraud_back
    balance roundrobin

    server api1 api1:9999 maxconn 8192
    server api2 api2:9999 maxconn 8192
